<a href="https://colab.research.google.com/github/samruddhi1902/Python/blob/main/practice2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
2**2

4

In [ ]:
5//2

2

In [ ]:
print(10 is 10) # wrong usage
print(10 == 10)

True
True

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-3-2280592ed394>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(10 is 10)

In [ ]:
a = 10
b = a
print(a is b) # correct usage. used to check whether the two variables
print(a == b)

True
True

In [ ]:
print(10&2)
print(10|2)
print(10^2)
print(~10)
print(~-10)

2
10
8
-11
9

In [ ]:
a = 10
a+=10
print(a)
a**=2
print(a)

20
400

In [ ]:
l1 = [20, 23, 423, 123]
print(20 in l1)
l2 = [20, 23, 423, 123]
print(l1 == l2)
print(l1 is l2)

True
True
False

In [ ]:
if(a == 10):
  print("a = 10")
elif (a == 20):
  print("a = 20")
else:
  print("a is not 10 or 20" ) # () not required

a is not 10 or 20

In [ ]:
num = input("ENTER A NUMBER: ") # type conversion int()
print(type(num))
num = int(input("ENTER A NUMBER: "))
print(type(num))

ENTER A NUMBER: 1
<class 'str'>
ENTER A NUMBER: 1
<class 'int'>

In [ ]:
num = input("ENTER A NUMBER: ")
if(num%2 == 0):
  print("EVEN")
else:
  print("ODD")

ENTER A NUMBER: 2

TypeError: not all arguments converted during string formatting

In [ ]:
a = 10
b = 10
if( a == 10 and b == 10):
  print("a = 10 and b = 10")
elif (a == 10 or b == 10):
  print("Either a = 10 or b = 10")
else:
  pass

a = 10 and b = 10

In [ ]:
for i in range(10):
  print(i)
# use for for specific number of itterations

0
1
2
3
4
5
6
7
8
9

In [ ]:
a = range(10)
print(a)
print(type(a))

range(0, 10)
<class 'range'>
1

In [ ]:
num = [10, 20, 30, 40]
sum = 0
for i in num:
  sum += i**2
print(sum)

3000

In [ ]:
l1 = [3, 5, 6, 8, 4]
for i in range(len(l1)):
    l1.append(l1[i] + 2)
print(l1)

[3, 5, 6, 8, 4, 5, 7, 8, 10, 6]

In [ ]:
# range(start, stop, step)
for ittervar in range(2, 10, 2):
  print(ittervar)
print(ittervar) # scope exits

2
4
6
8
8

In [ ]:
import random
num = []
for i in range(11):
    num.append(random.randint(1, 11)) # inclusive
print(num)
for i in range(11):
    for j in num:
        if i == j:
            print(i, end = " ")

[4, 3, 5, 4, 10, 4, 8, 9, 3, 4, 3]
3 3 3 4 4 4 4 5 8 9 10

In [ ]:
num = [10, 20, 30, 40]
i = 0
sum = 0
while i < len(num):
    sum += num[i]**2
    i += 1
print(sum)

3000