<a href="https://colab.research.google.com/github/samruddhi1902/Python/blob/main/practice3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list=[1,2,3,4]
count=1
for i in list:
  if i==4:
    print("item matched")
    count+=1
    break
print("found at",count,"location")

item matched
found at 2 location

In [ ]:
str="python"
for i in str:
  if i=='o':
    break
  print(i)

p
y
t
h

In [ ]:
for iterator in range(10,21):
  if iterator==15:
    print("hello")
    continue
  print(iterator)

10
11
12
13
14
hello
16
17
18
19
20

In [ ]:
def nameprint(name):
  '''this is a function to
   print name'''
  print("hello my name is",name)
nameprint("sam")

hello my name is sam

In [ ]:
def square(num):
  #this function computes the square of a number
  return num**2
a=square(4.3)
print("the square of the num is:",a)
square(9)

the square of the num is: 18.49

81

In [ ]:
def square(my_list):
  new_list=[]
  for i in my_list:
    new_list.append(i**2)
  return new_list

list=[45,1.2,4]
print("the list is:",list)
print("the square of the list is:",square(list))

the list is: [45, 1.2, 4]
the square of the list is: [2025, 1.44, 16]

In [ ]:
def square(num):
  #this function computes the square of a number
  return num**2
object=9
print("the square of the object is:",square(object))
print("the value of the object is:",object)

the square of the object is: 81
the value of the object is: 9

TYPES OF ARGUMENTS

DEFAULT

KEYWORD

required

variable length args

In [ ]:
def function(num1,num2=40):
  print("num1 is:",num1)
  print("num2 is:",num2)

print("passing only one argument")#default argument
function(10)

print("passing both arguments")#explicitly mentioned the values
function(10,20)

print("with using keyword")#with keyword
function(num2=30,num1=20)

print("without using keyword")#without keyword
function(30,20)

passing only one argument
num1 is: 10
num2 is: 40
passing both arguments
num1 is: 10
num2 is: 20
with using keyword
num1 is: 20
num2 is: 30
without using keyword
num1 is: 30
num2 is: 20

In [ ]:
def function(num1,num2):
  print("num1 is:",num1)
  print("num2 is:",num2)
print("passing out of order arguments")#we want num1=20 and num2=30
function(30,20)
print("passing only one argument")
try:
  function(10)
except:
  print("function needs two positional arguments")

passing out of order arguments
num1 is: 30
num2 is: 20
passing only one argument
function needs two positional arguments

In [ ]:
# *args-these are non-keyword arguments
# **kwargs- these are keyword arguments

def function(*args_list):
  ans=[]
  for i in args_list:
    ans.append(i.upper())
  return ans
#passing args arguments
object=function("python","functions","tutorial")
print(object)
print(type(object))

['PYTHON', 'FUNCTIONS', 'TUTORIAL']
<class 'list'>

In [ ]:
def function(**kargs_list):
  ans=[]
  for key,value in kargs_list.items():
    ans.append([key,value])
  return ans
object=function(first="python",second="functions",third="tutorial")
print(object)
print(type(object))

[['first', 'python'], ['second', 'functions'], ['third', 'tutorial']]
<class 'list'>